.foods {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--spacing-6);
  max-width: 1200px;
  padding-top: var(--spacing-6);
}
.load-more-button {
  border-radius: var(--border-radius-3xl);
  border: 2px solid var(--color-primary);
  padding: var(--spacing-3) var(--spacing-5);
  width: 100%;
  margin-top: var(--spacing-6);
  cursor: pointer;
  font-weight: var(--font-weight-semibold);
  font-size: var(--font-size-sm);
  background: var(--color-neutral-100);
  width: fit-content;
  color: var(--color-neutral-600);
}
