@import "./styles/tokens/spacing.css";
@import "./styles/tokens/typography.css";
@import "./styles/tokens/colors.css";
@import "./styles/tokens/border-radius.css";

*,
*::before,
*::after {
  box-sizing: border-box;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  margin: 0;
  font-family: var(--font-base);
  background-color: var(--color-neutral-100);
  color: var(--color-neutral-600);
}
